:root {
  --container-width: 700px;
  --article-padding: 10px;
}

#container {
  width: var(--container-width);
  padding: calc(var(--header-height) + 20px) 0 20px 0;
  margin: 0 auto;
}

#article {
  padding: 10px;
  background-color: var(--tertiary-background-color);
  border: 1px solid var(--border-color);
}

#title {
  margin: 0 0 10px 0;
}

/* artcile, comment, history 共用 */
.info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
}

.avatar img {
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
}

.username {
  font-size: 20px;
  margin-left: 10px;
}

.username:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #0077b6;
}

.category {
  margin-left: 8px;
  padding: 3px 8px;
  background-color: var(--secondary-background-color);
  border-radius: 5px;
}

.category:hover {
  cursor: pointer;
  filter: brightness(90%);
}

#picture {
  width: calc(var(--container-width) - var(--article-padding) * 2);
}

#picture img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

#comment-container {
  margin-top: 20px;
  padding: var(--article-padding);
  background-color: var(--secondary-background-color);
}

#empty-section {
  height: 50px;
  width: 100%;
  color: var(--text-color);
  background-color: var(--primary-background-color);
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#comment-section {
  height: 50px;
  width: 100%;
  color: var(--text-color);
  background-color: var(--primary-background-color);
  resize: none;
  display: none;
}

#comment-buttons {
  display: flex;
  justify-content: end;
  display: none;
}

#comment-cancel,
#comment-submit {
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--primary-background-color);
}

#comment-submit {
  margin-left: 10px;
}

#history-container {
  margin-top: 20px;
  padding: var(--article-padding);
  background-color: var(--tertiary-background-color);
}

.history {
  margin-top: 10px;
}

.history-comment {
  max-height: 100px;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--primary-background-color);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}