
@font-face {
  font-family: "Noto Sans TC" ;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/NotoSansTC-VariableFont_wght.woff2) format('woff2');
}

@font-face {
  font-family: "Noto Sans TC bold" ;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/NotoSansTC-VariableFont_wght.woff2) format('woff2');
}

@font-face {
  font-family: "Nunito";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Nunito-VariableFont_wght.woff2) format('woff2');
}

@font-face {
  font-family: "Nunito bold";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Nunito-VariableFont_wght.woff2) format('woff2');
}


