
@font-face {
  font-family: "Noto Sans TC" ;
  font-optical-sizing: auto;
  src: url(../fonts/NotoSansTC-VariableFont_wght.woff2) format('woff2');
}



@font-face {
  font-family: "Nunito";
  font-optical-sizing: auto;
  src: url(../fonts/Nunito-VariableFont_wght.woff2) format('woff2');
}



