

:root {
  --header-height: 60px;
  --footer-height: 60px;
  /* Light Mode */
  /* --primary-background-color: ;
  --secondary-background-color: ;
  --tertiary-background-color: ;
  --border-color: ;
  --text-color: ; */
}

/* Dark Mode */
/* .dark {
  --primary-background-color: ;
  --secondary-background-color: ;
  --tertiary-background-color: ;
  --border-color: ;
  --text-color: ;
} */

* {
  box-sizing: border-box;
  font-family: 'Nunito', 'Noto Sans TC', sans-serif; 
}

body {
  margin: 0;
}

header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  height: 60px;
  color: #c5c5c5;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

main {
  min-height: 100vh;
}

footer {
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo img {
  max-height: 50px;
  max-width: 50px;
}

.fa-solid {
  font-size: 30px;
}