:root {
  --header-height: 60px;
  --footer-height: 60px;
  /* Light Mode */
  --primary-background-color: #ffffff;
  --secondary-background-color: #ebebeb;
  --tertiary-background-color: #c0c0c0;
  --text-color: #6b6b6b;
}

/* Dark Mode */

.dark {
  --primary-background-color: ;
  --secondary-background-color: ;
  --tertiary-background-color: ;
  --border-color: ;
  --text-color: ;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", "Noto Sans TC", sans-serif;
}

body {
  margin: 0;
}

header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--secondary-background-color);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

nav {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 左 */

.nav-logo img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

/* 右 */

.nav-link {
  width: 30em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.darkmode {
  margin: 0 20px;
  color: var(--text-color);
  font-size: 30px;
  cursor: pointer;
}

.sign-in,
.sign-up {
  margin: 0 10px;
}

.guest img {
  height: 38px;
  width: 38px;
}

main {
  padding-top: var(--header-height);
  min-height: 100vh;
  background-color: var(--primary-background-color);
}

footer {
  height: var(--footer-height);
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
