:root {
  --header-height: 60px;
  --footer-height: 60px;
  /* Light Mode */
  --primary-background-color: hsl(26, 100%, 92%);
  --secondary-background-color: hsl(24, 43%, 76%);
  --tertiary-background-color: hsl(24, 43%, 90%);
  --border-color: hsl(0, 0%, 50%);
  --text-color: hsl(0, 0%, 20%);
}

/* Dark Mode */
.dark {
  --primary-background-color: hsl(0, 0%, 0%);
  --secondary-background-color: hsl(221, 51%, 16%);
  --tertiary-background-color: hsl(201, 100%, 14%);
  --border-color: hsl(0, 0%, 50%);
  --text-color: hsl(0, 0%, 80%);
}

* {
  box-sizing: border-box;
  font-family: 'Fira Code', 'Roboto', 'Roboto Mono', 'Noto Sans TC', sans-serif;
}

body {
  margin: 0;
  color: var(--text-color);
}

header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--secondary-background-color);
  display: flex;
  position: fixed;
  z-index: 1;
}

#nav-left {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}

#home {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#home img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#nav-right {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

#dark-mode {
  width: 40px;
  height: 40px;
  font-size: 35px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#sign {
  margin-right: 10px;
  font-size: 20px;
  display: flex;
}

#sign-in {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-in:hover {
  cursor: pointer;
  text-decoration: underline;
}

#sign-up {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--primary-background-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#sign-up:hover {
  cursor: pointer;
  filter: brightness(90%);
}

#profile-avatar {
  width: var(--header-height);
  height: var(--header-height);
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-avatar img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#dropdown-content {
  min-width: 160px;
  background-color: var(--tertiary-background-color);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  display: none;
  position: absolute;
  right: 0;
}

#dropdown-content div {
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

#dropdown-content div:hover {
  background-color: var(--tertiary-background-color);
  filter: brightness(90%)
}

#profile-dropdown:hover #dropdown-content {
  display: block;
}

main {
  min-height: 100vh;
  background-color: var(--primary-background-color);
}

footer {
  height: var(--footer-height);
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-bg {
  height: 100vh;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#modal {
  width: 380px;
  height: 400px;
  padding: 10px;
  background-color: var(--secondary-background-color);
  border: 3px solid var(--border-color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#modal-form div {
  height: 55px;
}

#modal-form div label {
  width: 70px;
  text-align: center;
  display: inline-block;
}

#modal-form div input {
  color: var(--text-color);
  border: 2px solid var(--border-color);
  background-color: var(--tertiary-background-color);
}

#modal-close {
  width: 20px;
  height: 20px;
  color: var(--text-color);
  border: 2px solid var(--border-color);
  background-color: var(--tertiary-background-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 15px;
}

#modal-name {
  margin: 0 0 20px 0;
  text-align: center;
}

#submit {
  width: 100%;
  color: var(--text-color);
  border: 2px solid var(--border-color);
  background-color: var(--tertiary-background-color);
  cursor: pointer;
}