nav {
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  display: flex;/* 把容器變成 flex 容器 */
  align-items: center; /* 垂直置中 */
  justify-content: space-between; /* 水平分散 */
 
}

.nav-link {
  width: 30em;
  display: flex; /* 把容器變成 flex 容器 */
  align-items: center;
  justify-content: flex-end;/* 水平分散 */

}

.nav-logo img {
  max-height: 50px;
  max-width: 50px;

}


.guest img {
  max-height: 38px;
  max-width: 38px;

}

.fa-solid {
  color: #c5c5c5;
  font-size: 30px;
  margin: 0 20px;
  cursor: pointer;
}

.Sign {
  margin: 0 10px;
}


