.container {
  padding: 20px;
  background-color: bisque;
}

.title {
  margin-bottom: 10px;
  display: flex;
}

.input-title {
  border-radius: 5px;
  padding-left: 7px;
  border-width: 1px;
}

.categories {
  margin-bottom: 10px;
  display: flex;
}

.dropdown {
  border-radius: 5px;
}

.content {
  margin-bottom: 10px;
  display: flex;
}

.input-content {
  height: 350px;
  padding: 7px 0 7px 12px;
  border-radius: 7px;
  flex: 1;
  resize: none;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.cancel-btn,
.submit-btn {
  border-radius: 5px;
  margin-left: 10px;
  border-width: 1px;
  background-color: rgb(206, 205, 205);
}

.must {
  color: red;
}